version: '3'
services:
  web:
    build: ./web
    ports:
      - '83:80'
    volumes:
      - ../:/var/www/html
      - ./apache.conf:/etc/apache2/sites-enabled/000-default.conf
      - ./xdebug/xdebug.ini /usr/local/etc/php/conf.d/xdebug.ini
      #- ./.bashrc:/root/.bashrc
    links:
      - database

  database:
    image: 'mariadb:10.0'
    ports:
      - '3307:3306'
    environment:
      MYSQL_ROOT_PASSWORD: mpe_dev
      MYSQL_DATABASE: mpe
      MYSQL_USER: mpe_dev
      MYSQL_PASSWORD: mpe_dev
    volumes:
      - ./mysql-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mpe
      MYSQL_USER: atexo_dev
      MYSQL_PASSWORD: mpe_dev
      PMA_ARBITRARY: 1
      PMA_HOST: database
    restart: always
    ports:
      - 8080:80
    volumes:
      - /sessions
    links:
      - database